h2 {
  font-size: 18px;
  padding-bottom: 1rem;
}

p {
  padding-bottom: 0.5rem;
}

.url-like {
  display: flex;
  align-items: flex-end;
}

.entry-card {
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 1.5rem;
  margin-top: 1rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.like-button {
  border: none;
  padding: 0 5px 0 5px;
  background-color: white;
}
